<ion-header>
  <ion-toolbar style="--background: rgb(65, 119, 218);">
    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-buttons>
    <ion-item style="width: 300px;--background: rgb(78, 126, 216);">
      <ion-label>Language</ion-label>
      <ion-select placeholder="Select" style="width: 250px;">
        <ion-select-option value="e">English</ion-select-option>
        <ion-select-option value="h">Hindi</ion-select-option>
        <ion-select-option value="b">Bengali</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content class = "background-image">

  <ion-grid>
    <ion-row>
      <ion-col size="2" offset="1">
        <ion-card style = "background-color: #358597;">
        <ion-card-header>
            <ion-card-subtitle class="ion-text-center">Kolkata</ion-card-subtitle>
            <ion-card-title>Total active Cases</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          6799
        </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="2">
        <ion-card style = "background-color: crimson;">
        <ion-card-header>
            <ion-card-subtitle class="ion-text-center">Howrah</ion-card-subtitle>
            <ion-card-title>Total active Cases</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          2067
        </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="2">
        <ion-card style = "background-color: #33c91f;">
        <ion-card-header>
            <ion-card-subtitle class="ion-text-center">North 24 Paraganas</ion-card-subtitle>
            <ion-card-title>Total active Cases</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          5650
        </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="2">
        <ion-card style = "background-color: #28c2d6;">
        <ion-card-header>
            <ion-card-subtitle class="ion-text-center">Hooghly</ion-card-subtitle>
            <ion-card-title>Total active Cases</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          1294
        </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="2">
        <ion-card style = "background-color: #144add;">
        <ion-card-header>
            <ion-card-subtitle class="ion-text-center">Paschim Midnapore</ion-card-subtitle>
            <ion-card-title>Total active Cases</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          344
        </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8" offset="2" >
        <ion-card class="welcome-card" style="background:rgba(0, 0, 0, 0.452);">
          <ion-card-header>
            <ion-card-subtitle class="ion-text-center">Total active Cases Trend</ion-card-subtitle>
            <ion-card-title  class="ion-text-center"> Click on region toggle visibility</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <canvas #barChart style="background: white; height: 100px;"></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2" offset="1">
        <ion-card style = "background-color: #358597;">
        <ion-card-header>
            <ion-card-subtitle class="ion-text-center">Kolkata</ion-card-subtitle>
            <ion-card-title class="ion-text-center">Severe Cases</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          1145
        </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="2">
        <ion-card style = "background-color: crimson;">
        <ion-card-header>
            <ion-card-subtitle class="ion-text-center">Howrah</ion-card-subtitle>
            <ion-card-title class="ion-text-center">Severe Cases</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          348
        </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="2">
        <ion-card style = "background-color: #33c91f;">
        <ion-card-header>
            <ion-card-subtitle class="ion-text-center">North 24 Paraganas</ion-card-subtitle>
            <ion-card-title class="ion-text-center">Severe Cases</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          968
        </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="2">
        <ion-card style = "background-color: #28c2d6;">
        <ion-card-header>
            <ion-card-subtitle class="ion-text-center">Hooghly</ion-card-subtitle>
            <ion-card-title class="ion-text-center">Severe Cases</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          218
        </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="2">
        <ion-card style = "background-color: #144add;">
        <ion-card-header>
            <ion-card-subtitle class="ion-text-center">Paschim Midnapore</ion-card-subtitle>
            <ion-card-title class="ion-text-center"> Severe Cases</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          58
        </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8" offset="2" >
        <ion-card class="welcome-card" style="background:rgba(0, 0, 0, 0.452);">
          <ion-card-header>
            <ion-card-subtitle class="ion-text-center">Severe active Cases Trend</ion-card-subtitle>
            <ion-card-title class="ion-text-center"> Click on region toggle visibility</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <canvas #barChart1 style="background: white; height: 100px;"></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2" offset="1">
        <ion-card style = "background-color: #358597;">
        <ion-card-header>
            <ion-card-subtitle class="ion-text-center">Kolkata</ion-card-subtitle>
            <ion-card-title class="ion-text-center">Comorbid Cases</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          1014
        </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="2">
        <ion-card style = "background-color: crimson;">
        <ion-card-header>
            <ion-card-subtitle class="ion-text-center">Howrah</ion-card-subtitle>
            <ion-card-title class="ion-text-center">Comorbid Cases</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          308
        </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="2">
        <ion-card style = "background-color: #33c91f;">
        <ion-card-header>
            <ion-card-subtitle class="ion-text-center">North 24 Paraganas</ion-card-subtitle>
            <ion-card-title class="ion-text-center">Comorbid Cases</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          857
        </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="2">
        <ion-card style = "background-color: #28c2d6;">
        <ion-card-header>
            <ion-card-subtitle class="ion-text-center">Hooghly</ion-card-subtitle>
            <ion-card-title class="ion-text-center">Comorbid Cases</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          193
        </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="2">
        <ion-card style = "background-color: #144add;">
        <ion-card-header>
            <ion-card-subtitle class="ion-text-center">Paschim Midnapore</ion-card-subtitle>
            <ion-card-title class="ion-text-center">Comorbid Cases</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          51
        </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8" offset="2" >
        <ion-card class="welcome-card" style="background:rgba(0, 0, 0, 0.452);">
          <ion-card-header>
            <ion-card-subtitle class="ion-text-center">Comorbid active Cases Trend</ion-card-subtitle>
            <ion-card-title class="ion-text-center"> Click on region toggle visibility</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <canvas #barChart2 style="background: white; height: 100px;"></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
