.background-image{
    --background: url(../home/assets/back_4.jpg) no-repeat center center fixed;
    background-size: cover;
}
ion-card-subtitle{
    color : white;
}
ion-card-content{
    color : white;
    font-size: 30px;
}